# UI
streamlit>=1.46.1

# Core LangChain
langchain>=0.3.26
langchain-core>=0.3.68
langchain-community>=0.3.27

# Groq Integration
langchain-groq>=0.3.6
groq>=0.30.0

# Tavily Search Tool
langchain-tavily>=0.2.11
tavily-python>=0.7.12

# Web Scraping
beautifulsoup4>=4.13.4
requests>=2.32.4
lxml>=6.0.0

# Environment Variables
python-dotenv>=1.1.1

# Structured Output Parsing
pydantic>=2.11.7

# Monitoring & Logging
langsmith>=0.4.5

# Token Counting
tiktoken>=0.9.0

# Async Support
aiohttp>=3.12.14

# Utilities
typing-extensions>=4.14.1


rich>=14.0.0

langchain-openai
openai
